In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer

# ignore warnings
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_json('./data/dataSet_Culture_06102023-POINT.json')

In [3]:
# Extract the year from 'Analysis Date'
df['year'] = df['Analysis Date'].apply(lambda x: x.split('-')[0])

df['polygon_x'] = df['polygon'].apply(lambda x: x['x'])
df['polygon_y'] = df['polygon'].apply(lambda x: x['y'])
df['month'] = df['Analysis Date'].apply(lambda x: x.split('-')[1])
df['day'] = df['Analysis Date'].apply(lambda x: x.split('-')[2])

df['vegetation'] = (df['indextype'] == 'NDVI') & (df['averagevalue'] >= 0.15)
df = df.drop(['polygon', 'soil_id'] , axis = 1)

# Modify the 'combined' column to include year
df['combined'] = df['polygon_x'].astype(str) + '_' + df['polygon_y'].astype(str) + '_' + df['year'].astype(str)

# Assign unique ID based on the grouped column
df['id'] = df.groupby('combined').ngroup() + 1

# Drop the combined column and other temporary columns
df = df.drop(columns=['combined', 'polygon_x', 'polygon_y', 'year'])

In [4]:
df = df[df['indextype'] == 'NDVI']
df = df.drop(columns=['indextype', 'year contour', 'month', 'day', 'vegetation', 'type_culture_name'])
df = df.rename(columns={'culture_name': 'class'})
df = df.rename(columns={'averagevalue': 'red'})
df = df.rename(columns={'Analysis Date': 'date'})
df['date'] = pd.to_datetime(df['date'])

In [5]:
label_encoder = LabelEncoder() 
  
# Encode labels in column 'class'. 
df['class']= label_encoder.fit_transform(df['class']) 
df['district_name']= label_encoder.fit_transform(df['district_name']) 
df['soil_name']= label_encoder.fit_transform(df['soil_name']) 
df['class'].unique()

array([ 2, 16, 21,  4, 11, 13,  7, 20, 18,  3,  0,  5, 17,  8, 12, 10, 15,
       14,  6,  1, 19,  9])

In [6]:
# Convert date to multiple columns (year, month, day)
df['year'] = pd.to_datetime(df['date']).dt.year
df['month'] = pd.to_datetime(df['date']).dt.month
df['day'] = pd.to_datetime(df['date']).dt.day
df.drop('date', axis=1, inplace=True)

# Splitting data    
X = df.drop(['class', 'id', 'year', 'day'], axis=1) 
y = df['class']
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
# Pivot table
pivot_df = df.pivot_table(index='id', columns='month', values='red', aggfunc='mean')

# Fill NaN values (assuming you want to fill with zeros, adjust if needed)
# pivot_df = pivot_df.fillna(0)

# Rename columns as needed
pivot_df.columns = [f'red_{col}_month' for col in pivot_df.columns]

# Reset the index so 'id' becomes a column
pivot_df = pivot_df.reset_index()

# Assuming each 'id' has a unique 'class', get the 'class' value for each 'id' and add to the pivot dataframe
pivot_df['class'] = pivot_df['id'].map(df.drop_duplicates(subset='id').set_index('id')['class'])
pivot_df['elevation_contour'] = pivot_df['id'].map(df.drop_duplicates(subset='id').set_index('id')['elevation_contour'])
pivot_df['district_name'] = pivot_df['id'].map(df.drop_duplicates(subset='id').set_index('id')['district_name'])
pivot_df['soil_name'] = pivot_df['id'].map(df.drop_duplicates(subset='id').set_index('id')['soil_name'])

# Reordering columns
pivot_df = pivot_df[['red_4_month', 'red_5_month', 'red_6_month', 'red_8_month', 'red_9_month', 'id', 'elevation_contour', 'district_name', 'soil_name', 'class']]

In [8]:
# Splitting the data
X = pivot_df.drop(['id', 'class'], axis=1)  # Features excluding 'id' and 'class'
y = pivot_df['class']  # Target variable

In [9]:
class_counts = y.value_counts()
single_sample_classes = class_counts[class_counts == 1].index
filter_mask = ~y.isin(single_sample_classes)
X = X[filter_mask]
y = y[filter_mask]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, stratify=y)

In [11]:
imputer = KNNImputer(n_neighbors=5)
X_train = pd.DataFrame(imputer.fit_transform(X_train), columns=X_train.columns)
X_test = pd.DataFrame(imputer.transform(X_test), columns=X_test.columns)

In [12]:
# Assuming you have your features in X and classes in y

unique_classes = set(y)
binary_classifications = {}
evaluation_metrics = {}
trained_classifiers = {}

for u_class in unique_classes:
    # Convert the labels for one-vs-all classification
    y_train_binary = [1 if label == u_class else 0 for label in y_train]
    y_test_binary = [1 if label == u_class else 0 for label in y_test]
    
    # Train a Random Forest classifier
    clf = RandomForestClassifier()
    clf.fit(X_train, y_train_binary)
    trained_classifiers[u_class] = clf
    
    # Predict on the test set
    predictions = clf.predict(X_test)
    
    binary_classifications[u_class] = predictions
    
    # Evaluate the classifier's performance
    accuracy = accuracy_score(y_test_binary, predictions)
    
    # Check if there's only one unique class in y_test_binary
    if len(set(y_test_binary)) == 1:
        precision = recall = f1 = auc = np.nan
    else:
        precision = precision_score(y_test_binary, predictions)
        recall = recall_score(y_test_binary, predictions)
        f1 = f1_score(y_test_binary, predictions)
        auc = roc_auc_score(y_test_binary, predictions)
    
    evaluation_metrics[u_class] = {
        'Accuracy': accuracy,
        'Precision': precision,
        'Recall': recall,
        'F1 Score': f1,
        'ROC-AUC': auc
    }

In [13]:
probabilities_batch = {u_class: [] for u_class in trained_classifiers.keys()}

for u_class, clf in trained_classifiers.items():
    probs = clf.predict_proba(X_test)[:, 1]
    probabilities_batch[u_class] = probs

final_class_predictions = []
for i in range(len(X_test)):
    final_class = max(probabilities_batch, key=lambda x: probabilities_batch[x][i])
    final_class_predictions.append(final_class)

In [14]:
accuracy_score(final_class_predictions, y_test)

0.43

In [15]:
probabilities_batch = {u_class: [] for u_class in trained_classifiers.keys()}

for u_class, clf in trained_classifiers.items():
    probs = clf.predict_proba(X_train)[:, 1]
    probabilities_batch[u_class] = probs

final_class_predictions = []
for i in range(len(X_train)):
    final_class = max(probabilities_batch, key=lambda x: probabilities_batch[x][i])
    final_class_predictions.append(final_class)

In [16]:
accuracy_score(final_class_predictions, y_train)

1.0

In [17]:
X_test

,red_4_month,red_5_month,red_6_month,red_8_month,red_9_month,elevation_contour,district_name,soil_name
0,0.038,0.0680,0.167,0.0780,0.0550,707.0,4.0,10.0
1,0.016,0.0606,0.082,0.0920,0.0960,720.0,4.0,10.0
2,0.037,0.0560,0.110,0.0950,0.1856,600.0,5.0,11.0
3,0.004,0.0190,0.020,0.0090,0.0110,868.0,1.0,10.0
4,0.086,0.0880,0.341,0.6940,0.4720,937.0,1.0,10.0
...,...,...,...,...,...,...,...,...
95,0.061,0.1410,0.274,0.1608,0.1850,704.0,5.0,9.0
96,0.033,0.0860,0.192,0.0920,0.0840,1544.0,2.0,4.0
97,0.115,0.1060,0.059,0.0380,0.0550,687.0,5.0,1.0
98,0.006,0.0180,0.017,0.1670,0.1776,897.0,0.0,3.0
99,0.139,0.2050,0.270,0.6205,0.6440,712.0,7.0,10.0