Decision Tree

In [1]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.read_json('../data/dataSet_Culture_06102023-POINT.json')

In [3]:
df = pd.DataFrame(data)

In [4]:
df.head()

,polygon,indextype,averagevalue,Analysis Date,year contour,elevation_contour,district_name,soil_id,soil_name,culture_name,type_culture_name
0,"{'x': 76.095454293, 'y': 42.728343002}",NDVI,0.217,2020-06-04,2020,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая
1,"{'x': 76.095454293, 'y': 42.728343002}",NDVI,0.215,2020-08-03,2020,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая
2,"{'x': 76.095454293, 'y': 42.728343002}",NDVI,0.150,2020-09-02,2020,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая
3,"{'x': 76.095454293, 'y': 42.728343002}",NDVI,0.052,2021-04-10,2021,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая
4,"{'x': 76.095454293, 'y': 42.728343002}",NDVI,0.056,2021-05-05,2021,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая

In [5]:
df['x'] = df['polygon'].apply(lambda row: row['x'])
df['y'] = df['polygon'].apply(lambda row: row['y'])

df['date'] = pd.to_datetime(df['Analysis Date'])
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day

In [6]:
df = df.drop(['polygon', 'Analysis Date', 'year contour', 'date'], axis='columns')
df.head()

,indextype,averagevalue,elevation_contour,district_name,soil_id,soil_name,culture_name,type_culture_name,x,y,year,month,day
0,NDVI,0.217,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая,76.095454,42.728343,2020,6,4
1,NDVI,0.215,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая,76.095454,42.728343,2020,8,3
2,NDVI,0.150,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая,76.095454,42.728343,2020,9,2
3,NDVI,0.052,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая,76.095454,42.728343,2021,4,10
4,NDVI,0.056,1544,Kemin district,28,Горные светло-каштановые,Картофель,Яровая,76.095454,42.728343,2021,5,5

In [7]:
inputs = df.drop('culture_name', axis='columns')
target = df['culture_name']

In [8]:
inputs.head()

,indextype,averagevalue,elevation_contour,district_name,soil_id,soil_name,type_culture_name,x,y,year,month,day
0,NDVI,0.217,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2020,6,4
1,NDVI,0.215,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2020,8,3
2,NDVI,0.150,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2020,9,2
3,NDVI,0.052,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2021,4,10
4,NDVI,0.056,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2021,5,5

In [9]:
le_indextype = LabelEncoder()
le_district_name = LabelEncoder()
le_soil_name = LabelEncoder()
le_type_culture_name = LabelEncoder()

In [10]:
inputs['index_type_n'] = le_indextype.fit_transform(inputs['indextype'])
inputs['district_name_n'] = le_district_name.fit_transform(inputs['district_name'])
inputs['soil_name_n'] = le_soil_name.fit_transform(inputs['soil_name'])
inputs['type_culture_name_n'] = le_type_culture_name.fit_transform(inputs['type_culture_name'])

In [11]:
inputs.head()

,indextype,averagevalue,elevation_contour,district_name,soil_id,soil_name,type_culture_name,x,y,year,month,day,index_type_n,district_name_n,soil_name_n,type_culture_name_n
0,NDVI,0.217,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2020,6,4,0,2,4,1
1,NDVI,0.215,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2020,8,3,0,2,4,1
2,NDVI,0.150,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2020,9,2,0,2,4,1
3,NDVI,0.052,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2021,4,10,0,2,4,1
4,NDVI,0.056,1544,Kemin district,28,Горные светло-каштановые,Яровая,76.095454,42.728343,2021,5,5,0,2,4,1

In [12]:
inputs_n = inputs.drop(['indextype', 'district_name', 'soil_name', 'type_culture_name'], axis='columns')
inputs_n.head()

,averagevalue,elevation_contour,soil_id,x,y,year,month,day,index_type_n,district_name_n,soil_name_n,type_culture_name_n
0,0.217,1544,28,76.095454,42.728343,2020,6,4,0,2,4,1
1,0.215,1544,28,76.095454,42.728343,2020,8,3,0,2,4,1
2,0.150,1544,28,76.095454,42.728343,2020,9,2,0,2,4,1
3,0.052,1544,28,76.095454,42.728343,2021,4,10,0,2,4,1
4,0.056,1544,28,76.095454,42.728343,2021,5,5,0,2,4,1

Train

In [13]:
model = tree.DecisionTreeClassifier()

In [14]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

Predict

In [15]:
model.score(inputs_n, target)

1.0